<h2>About</h2>
<p>OCON-SL is a free and open corpus of newspaper (and thereby largely acrolectal) Sri Lankan English. It aims to expand on the foundation built by the Sri Lanka sub corpus of <a href="http://www.uni-giessen.de/cms/faculties/f05/engl/ling/research/save">SAVE</a>, which contains 1.5 million tokens from texts between 2001 - 2007. </p>

<p>At present, the OCON-SL pilot corpus contains 1,448,323 tokens from the <a href="http://www.dailynews.lk/">Daily News</a> (2008 - 2011) and <a href="http://www.island.lk/">The Island</a> (2008 - 2014) newspapers. <strong>This current incarnation of OCON-SL is a pilot corpus. The project aims to collect 10M tokens from 5 Sri Lankan newspapers between 2008 - 2014.</strong></p>

<h3>License</h3>
The <strong>complete OCON-SL corpus</strong>, along with the software that powers its web interface is available under the <a href="http://www.gnu.org/copyleft/gpl.html">General Public License v3</a>, meaning that they can be used by anyone, for any purpose. The full text corpus, along with the source code of the software that runs this site, <a href="https://github.com/lastnode/ocon">is available for download</a>.

You are encouraged to download the source, modify it, and distribute it for your own purposes.

<h3>Version History</h3>
<h4>Version 0.1 - September 15th 2014</h4>
- This pilot corpus contains 1,448,323 tokens from the <a href="http://www.dailynews.lk/">Daily News</a> (2008 - 2011) and <a href="http://www.island.lk/">The Island</a> (2008 - 2014) newspapers.
- This preliminary version of the corpus currently only contains data from the month of January each year.

<h3>Bugs</h3>
<p>Yes, there are several known bugs that I will be fixing over the next few days! The code that runs this site is still very messy, and there is a lot of functionality to be added, and a lot of cleaning up that needs to be done. If you like programming in python and would like to patch my code and make it less awful, <a href="https://github.com/lastnode/ocon">please send me a pull request on github</a>. Of course, you are totally welcome to fork the project as well.</p>


