<h3>Download</h3>
You are free to download <a href="https://github.com/lastnode/ocon/blob/master/server/data/ocon-text-0.1.zip?raw=true">the current version of the corpus (0.1) in untagged .txt format</a> (4mb zip file). Please note that while every effort has been made to ensure that the corpus is clean and error-free using algorithmic methods, this is still very much a work in progress, and thus <strong>should be used only for testing purposes</strong>.

<h3>License</h3>
<p>The <strong>complete OCON-SL corpus</strong>, along with the software that powers its web interface is available under the <a href="http://www.gnu.org/copyleft/gpl.html">General Public License v3</a>, meaning that they can be used by anyone, for any purpose. The full text corpus, along with the source code of the software that runs this site, <a href="https://github.com/lastnode/ocon">is available for download</a>.</p>

<p>You are encouraged to download the source, modify it, and distribute it.</p>